/* Change the background of the entire visible page */
body {
    background-color: #f0a0a0; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: rgba(173, 124, 250, 0.966)
    font-size: 30px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid rgb(235, 55, 55); /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
